.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactsInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 65%;
}

.contactLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 30%;
}

.contacts p span {
  color: #a44a3f;
}

@media (max-width: 1080px) {
  .contacts {
    flex-direction: column;
    gap: 4rem;
  }
  .contactsInfo {
    width: 100%;
  }
  .contactLinks {
    justify-content: space-around;
    width: 100%;
    gap: 0;
  }
}
