.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactsInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 65%;
}

.contactLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 30%;
}

.contacts p span {
  color: #a44a3f;
}
