.hero {
  position: relative;
  padding-top: 10rem;
  padding-left: 6rem;
  height: calc(100vh - 10rem);
}

.heroInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  max-width: 50%;
  height: 60%;
  z-index: 1;
}

.heroButtons {
  display: flex;
  justify-content: space-between;
}

.avatarImg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vh;
  height: auto;
  z-index: 1;
}
