.heroSection {
  position: relative;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-top: 10rem;
  padding-right: 0;
  height: calc(100vh - 10rem);
}

.heroInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  max-width: 50%;
  height: 100%;
  z-index: 2;
  padding-left: 6rem;
}

.heroButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.avatarImg {
  width: 40%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

.btn {
  border: none;
  background-color: var(--bg-page);
  color: #8b2635;
  width: fit-content;
  height: auto;
  font-size: 1.5rem;
  border: 2px solid #8b2635;
  border-radius: 0.6rem;
  transition: all 0.2s ease;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #8b2635;
  color: var(--bg-page);
}

@media (max-width: 1370px) {
  .hero {
    padding-top: 8rem;
    height: calc(100vh - 8rem);
  }
  .heroInfoBlock {
    padding-left: 4rem;
    max-width: 44%;
  }
  .avatarImg {
    width: 55%;
  }
}

@media (max-width: 1190px) {
  .hero {
    flex-direction: column;
    gap: 4rem;
    height: auto;
  }
  .heroInfoBlock {
    max-width: 100%;
    padding-right: 4rem;
  }
  .avatarImg {
    width: 80%;
  }
}

@media (max-width: 520px) {
  .hero {
    gap: 4rem;
    padding-top: 8rem;
  }
  .heroInfoBlock {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .heroButtons {
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    align-items: flex-end;
  }
}
