.btn {
  border: none;
  background-color: var(--bg-page);
  color: #8b2635;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  border: 2px solid #8b2635;
  border-radius: 0.6rem;
  transition: all 0.2s ease;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #8b2635;
  color: var(--bg-page);
}
