.projectCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #f8f4f1;
  border-radius: 1rem;
  padding: 5rem;
  background-color: rgba(50, 67, 93, 0.5);
}

.projectCardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 40%;
  height: auto;
}

.projectCardContent ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.projectCardContent ul li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.3rem;
}

.projectCardContent ul li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: -0.2rem;
  color: #4caf50;
  font-size: 2rem;
  font-weight: bold;
}

.projectCardImgBlock {
  position: relative;
  width: 55%;
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid #0e1116;
  box-shadow: inset 6px 8px 8px #0e1116;
  border-radius: 20% 20% 0 0;
}

.projectCardImgMac {
  width: 83%;
  height: auto;
  object-fit: contain;
}

.projectCardImgMob {
  width: 17%;
  height: auto;
  object-fit: contain;
}

.projectCardLinks {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1370px) {
  .projectCard {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem 0.2rem 4rem;
  }
  .projectCardContent {
    width: 100%;
    gap: 1rem;
    padding-top: 2rem;
  }
  .projectCardImgBlock {
    width: 80%;
  }
}

@media (max-width: 520px) {
  .projectCardImgBlock {
    width: 100%;
  }
}
