header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 6rem;
  background-color: var(--block-page);
  z-index: 300;
}

.heroNameLink {
  color: #b8d8d8;
  font-family: "Tangerine", cursive;
  text-shadow: 2px 2px 1px #0e1116;
  transition: all 0.2s ease;
}

.heroNameLink:hover {
  color: #a3cccc;
  text-shadow: 0 0 3px #f8f4f1;
}

@media (max-width: 1370px) {
  header {
    padding: 0 4rem;
  }
}

@media (max-width: 520px) {
  header {
    padding: 0 2rem;
  }
}

@media (max-width: 390px) {
  .heroNameLink {
    display: none;
  }
}
