* {
  margin: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: clamp(14px, 1.8vw, 18px);
  scroll-behavior: smooth;
}

/* Светлая тема */
body.light {
  --bg-page: #f8f4f1;
  --text-page: #0e1116;
  --block-page: #374a67;
}

/* Тёмная тема */
body.dark {
  --bg-page: #0e1116;
  --text-page: #f8f4f1;
  --block-page: #243042;
}

body {
  background-color: var(--bg-page);
  font-size: 1.7rem;
  transition: all 0.3s ease;
}

main {
  min-height: calc(100vh - 4rem);
}

section {
  color: var(--text-page);
  transition: all 0.3s ease;
  scroll-margin-top: 5rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 6rem 6rem 6rem 6rem;
}

.highlightText {
  color: #a44a3f;
}

@media (max-width: 1370px) {
  .container {
    gap: 4rem;
    padding: 4rem 4rem 4rem 4rem;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 2rem 2rem 2rem 2rem;
  }
}
