* {
  margin: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: clamp(14px, 1.8vw, 18px);
}

body.light {
  --bg-page: #f8f4f1;
  --text-page: #0e1116;
}

/* Тёмная тема */
body.dark {
  --bg-page: #0e1116;
  --text-page: #f8f4f1;
}

body {
  background-color: var(--bg-page);
  font-size: 1rem;
  transition: all 0.3s ease;
}

main {
  min-height: calc(100vh - 5rem);
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--text-page);
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 7rem 18rem 4rem 18rem;
}
